.anchor {
  position: fixed;
  z-index: 10;
  color: white !important;
  top: 50%;
  transform: translate(0, -50%);
  left: 30px;
}

.welcomeContainer {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-color: rgb(108, 117, 125);
  .titleBox {
    // position: absolute;
    // top: 40%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    margin-top: 50px;
    width: 100%;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .code {
      border: 5px solid gray;
      background-color: black;
      z-index: 9;
      border-radius: 10px;
      height: 48px;
      padding: 10px;
      box-sizing: border-box;
      text-align: start;
      width: 600px;
    }
    .title {
      text-align: center;
      font-weight: 700 !important;
      font-size: calc(1.525rem + 3.3vw);
    }

    .subtitle {
      width: 100%;
      text-align: center;
      font-weight: 700 !important;
      font-size: calc(1rem + 2vw);
      color: #1677ff;
    }
    .downBox {
      position: absolute;
      bottom: 50px;
      width: 100%;
      text-align: center;
      color: white;
      font-size: calc(1rem + 3vw);

      .downBtn {
        transition: 100ms;

        &:hover {
          font-size: calc(1rem + 4vw);
        }
      }
    }
  }
}

.box1 {
  width: 100%;
  z-index: 9;
  overflow: hidden;
  display: flex;
  justify-content: center;

  .whatWeDo {
    width: 75%;
    color: white !important;

    div,
    h1,
    p,
    h2,
    img {
      width: 100%;
      text-align: center;
    }

    .cardContent {
      width: 100%;
      display: flex;
    }
  }
}

.box2 {
  width: 100%;
  z-index: 9;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding: 0 10px;
  .competitions {
    width: 75%;
    color: white !important;
    padding: 10px 0;

    h1,
    h2 {
      width: 100%;
      text-align: center;
    }
    .competitions_box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 5px solid white;
      border-radius: 10px;
      padding: 10px;
      margin-right: 10px;
      transition: 200ms;
      background-color: black;
      box-shadow: 10px 10px 10px rgba(245, 245, 245, 50%);
    }
    .achievement_box{
      border: 5px solid white;
      border-radius: 10px;
      padding: 10px;
      margin-right: 10px;
      transition: 200ms;
      background-color: black;
      box-shadow: 10px 10px 10px rgba(245, 245, 245, 50%);
      li,p{
        font-size: 20px;
      }
    }
  }

  .ourProcess {
    width: 75%;
    color: white !important;

    div,
    h1,
    h2,
    img {
      width: 100%;
      text-align: center;
    }

    .cardContent {
      width: 100%;
      display: flex;
      margin: 20px 0;
    }
  }
}

.box3 {
  width: 100%;
  z-index: 9;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-top: 50px;

  .meetOurGroup {
    width: 75%;
    color: white !important;

    div,
    h1,
    p {
      width: 100%;
      text-align: center;
    }

    .cardContent {
      width: 100%;
      display: flex;
      margin-bottom: 20px;
    }
  }
}

.box4 {
  width: 100%;
  z-index: 9;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 50px 0 100px;

  .whoIsUsingOurData {
    width: 75%;
    color: white !important;

    div,
    h1,
    p {
      width: 100%;
      text-align: center;
    }

    .cardContent {
      width: 100%;
      display: flex;
      margin-bottom: 20px;
    }
  }
}

.footerContainer {
  z-index: 9;
}
