.leaderCardBox {
  border: 5px solid white;
  border-radius: 10px;
  padding: 20px 0;
  background-color: black;
  box-shadow: 10px 10px 10px rgba(245, 245, 245, 50%);

  &:hover {
    cursor: pointer;
  }
}
