.container {
  border: 3px solid #f6f6f6;
  padding: 20px;
  border-radius: 20px;
  margin-top: 30px;

  .text {
    border: 3px solid #f6f6f6;
    padding: 20px;
    border-radius: 20px;

    .textarea {
      margin-top: 10px;
      display: flex;
    }
  }

  .radios {
    padding: 10px 0 0;
  }

  .extraction {
    display: flex;
  }

  .graphs {
    border: 3px solid #f6f6f6;
    padding: 20px;
    border-radius: 20px;
    margin-top: 10px;
  }
}
