.title {
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.chart_box {
  display: flex;
  // justify-content: space-between;
  // align-items: center;
  height: 500px;
  width: 100%;
  position: relative;
  .board{
    position: absolute;
    top:50px;
    right: 50px;
    // height:75px;
    width:150px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
  } 
  .event_box {
    height: 450px;
    width: 400px;
    flex: 0 0 auto;
  }
  .card_box {
    height: 450px;
    flex: 1;
  }
}

.jsonArea {
  max-height: 400px;
  overflow-y: scroll;
  & > div {
    max-height: 400px !important;
  }
}
